.ChipsInput {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 480px;
  max-width: 90%;
  padding: 0;
  border: 1px solid white;
  border-radius: 6px;
}
.ChipsInput__input {
  flex: 2;
  border: none;
  height: 42px;
  box-sizing: border-box;
  width: 100%;
  min-width: 160px;
  font-size: 14px;
  padding: 4px;
  color: white;
  font-family: 'JetBrains Mono', monospace;
  background: none;
}
.ChipsInput-tag__input {
  border: none;
  width: 100%;
  min-width: 10px;
  font-size: 14px;
  padding: 4px;
  color: white;
  font-family: 'JetBrains Mono', monospace;
  background: none;
}

.ChipsInput-tag__input {
  resize: horizontal;
  width: 10px;
}

.ChipsInput-tag__input:active {
  width: auto;
}

.ChipsInput-tag__input:focus {
  min-width: 10px;
}

.hidden {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.ChipsInput__tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 4px;
  background: #0052cc;
}
.ChipsInput__tag > .close-button {
  display: block;
  width: 16px;
  height: 16px;
  background: none;
  cursor: pointer;
  border: none;
  margin: 0 0 0 8px;
  padding: 0;
}

.close-button > .close-icon {
  fill: #ffffff;
  transition: fill 0.2s ease-in-out;
}
.close-button:hover > .close-icon {
  fill: #6992d2;
}
