.Chips {
  width: 90%;
  max-width: 780px;
  text-align: left;
  position: relative;
  margin: 0 0 18px 0;
  outline: none;
}


.ChipsInput {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid white;
  border-radius: 6px;
  outline: none;
}

.ChipsInput__tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 4px;
  border: 1px solid #0052cc;
  background: #0052cc;
  box-sizing: border-box;
  animation: tag-appear 0.4s 1 ease-out;
  transition: border 0.1s ease-in-out, background 0.2s ease-in-out;
  cursor: pointer;
}
.ChipsInput__tag:hover {
  border: 1px solid #cecece;
}
.ChipsInput__tag.active {
  border: 1px solid #ffffff;
}

.ChipsInput__tag.selected {
  background: #002bb7;
  border: 1px solid #002bb7;
}
.ChipsInput__tag.error {
  border: solid 1px brown;
}

.ChipsInput__input {
  flex: 2;
  border: none;
  height: 42px;
  box-sizing: border-box;
  width: 100%;
  min-width: 160px;
  font-size: 14px;
  padding: 4px;
  color: white;
  font-family: 'JetBrains Mono', monospace;
  background: none;
  outline:none;
}
.ChipsInput__input.error {
  color: brown;
}

.ChipsInput-tag__input {
  border: none;
  box-sizing: border-box;
  width: 100%;
  min-width: 10px;
  font-size: 14px;
  padding: 4px;
  color: white;
  font-family: 'JetBrains Mono', monospace;
  background: none;
  transition: border 0.2s;
  outline:none;
  cursor: pointer;
}
.ChipsInput-tag__input.error {
  border: solid 1px brown;
}

.ChipsInput-tag__input {
  resize: horizontal;
  width: 10px;
}

.ChipsInput__tag.active > .ChipsInput-tag__input {
  cursor:auto;
}

.ChipsInput-tag__input:active {
  width: auto;
}

.ChipsInput-tag__input:focus {
  min-width: 10px;
}

.hidden {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.ChipsInput__tag > .close-button {
  display: block;
  width: 16px;
  height: 16px;
  background: none;
  cursor: pointer;
  border: none;
  margin: 0 0 0 8px;
  padding: 0;
  animation: close-tag-appear 0.4s 1 ease-out;
}

.ChipsInput__error {
  position: absolute;
  bottom: -18px;
  font-size: 12px;
  color: brown;
  display: none;
  transition: opacity;
}
.ChipsInput__error.error {
  display: inline-block;
  animation: tag-appear 0.2s 1 ease-out;
}

.close-button > .close-icon {
  fill: #ffffff;
  transition: fill 0.2s ease-in-out;
}
.close-button:hover > .close-icon {
  fill: #6992d2;
}

@keyframes tag-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes close-tag-appear {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 16px;
    opacity: 0;
  }
  100% {
    width: 16px;
    opacity: 1;
  }
}
